*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: sandybrown;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    background-color: red;
}

.main-nav__item a:hover {
    color: royalblue;
}
.main-nav__item a:active {
    color: salmon;
}
.main-nav__item a::after {
    content: " | ";
}
